@font-face {
  font-family: "formula-regular";
  src: url("../font/Formula1-Regular.ttf");
}

@font-face {
  font-family: "formula-bold";
  src: url("../font/Formula1-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "formula-regular", sans-serif;
}

:root {
  --font-regular: "formula-regular", sans-serif;
  --font-bold: "formula-bold", sans-serif;
  --primary: #e10600;
}

.light {
  --background: #efefef;
  --text: #333;
}

.dark {
  --background: #222;
  --text: #eee;
}

body {
  background-color: var(--background);
  color: var(--text);
}

#app{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--text);
}

input, button{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
}