* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  --background: #efefef;
  --text: #333;
}

.dark {
  --background: #222;
  --text: #eee;
}

body {
  background-color: var(--background);
  color: var(--text);
}
